<div id="starry_sky">
    <div id="starry_sky_container">
        <img id="sakura_tree" src="www/assets/pictures/flowers.png" alt="" />
        <div id="love_bar"><div></div></div>
        <div id="choice_container">
            <p>Choisis la piste que tu veux entendre pendant l'animation</p>
            <button class='link_song' target="when_you_believe" type="button" name="button">When You Believe</button>
            <button class='link_song' target="love_yourself" type="button" name="button">Love Yourself</button>
            <button class='link_song' target="bleeding_love" type="button" name="button">Bleeding Love</button>
        </div>
        <button id="btn-play-pause"><i class="glyphicon glyphicon-play"></i></button>
        <audio id="when_you_believe" src="www/assets/audio/when_you_believe.mp3" loop="0"></audio>
        <audio id="love_yourself" src="www/assets/audio/love_yourself.m4a" loop="0"></audio>
        <audio id="bleeding_love" src="www/assets/audio/bleeding_love.mp3" loop="0"></audio>
        <div id="pandaxou">
            <img id="pandaxou_img" src="www/assets/pictures/sad_pandaxou.png" alt="" />
            <img id="pandaxou_broken_heart_img" src="www/assets/pictures/broken-heart.png" alt="" />
            <div class="bubble"><div><p></p></div></div>
        </div>
        <div id="sharonoux">
            <img id="sharonoux_img" src="www/assets/pictures/christmas_gift.png" alt="" />
            <img id="sharonoux_broken_heart_img" src="www/assets/pictures/red_heart.png" alt="" />
            <div class="bubble"><div><p></p></div></div>
        </div>
        <img id="tv" src="www/assets/pictures/tv.png" alt="" />
        <img id="cup_tea" src="www/assets/pictures/tea.png" alt="" />
        <img id="cup_tea2" src="www/assets/pictures/tea.png" alt="" />
        <img id="heart" src="www/assets/pictures/red_heart.png" alt="" />
        <img id="house" src="www/assets/pictures/house.png" alt="" />
        <img id="snowman" src="www/assets/pictures/snowman.png" alt="" />
        <img id="baby_tiger" src="www/assets/pictures/baby_tiger.png" alt="" />
        <img id="baby_panda" src="www/assets/pictures/baby_panda.png" alt="" />
        <div id="narrator_bubble"><div><p></p></div></div>
        <div id="narrator_bubble2"><div><p></p></div></div>
        <div id="narrator_bubble3"><div><p></p></div></div>
        <div id="to_be_continued"><p>To be continued...</p></div>
        <button id="reload_button" type="button" name="button">Revoir</button>
    </div>
</div>
<span class="non_exist"></span>

